
<mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button #r="matMenuTrigger" mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon (touch)="open(r)"  >menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="'/'" > 
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item  [routerLink]="'/courses'">
          <mat-icon>library_books</mat-icon>
          <span>Courses</span>
        </button>
        <button mat-menu-item  *ngIf="!user" (click) ='justLogin()'>
            <mat-icon>supervised_user_circle</mat-icon>
            <span mat-button *ngIf="!user" (click) ='justLogin()'>Login with Google</span>
          </button>

          <button mat-menu-item *ngIf="user" [matMenuTriggerFor]="Menu2">
            <mat-icon>verified_user</mat-icon>
            <span mat-button>{{user.name}}</span>      
          </button>
        <mat-menu #Menu2="matMenu" >
            <button mat-menu-item [routerLink]="'/orders'">Orders</button>
            <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="'/admin-courses'" >Admin courses</button>
            <button mat-menu-item (click)="logout()">Logout</button>
           
        </mat-menu>
        <button mat-menu-item [routerLink]="'/about'">
            <mat-icon>videocam</mat-icon>
            <span mat-button >About</span>
          </button>
          <button mat-menu-item (click)="recapShopping()">
            <mat-icon>add_shopping_cart</mat-icon>
            <span class='shopping-course'>{{ nbrShoppingCourse }} </span>
          </button>


          
      </mat-menu>
    </span>
    <span class="fill-remaining-space">Ecommerce</span>
  </mat-toolbar>