img {
  align-content: center;
  width:  50%;
  height: 50%;
  object-fit: cover;

}

::ng-deep .mat-card{

  border: 5px solid rgb(177, 164, 164);
  border-radius: 30px !important;
  align-self: baseline;
 }

