<mat-tab-group>
    <mat-tab *ngFor="let categorie of categories" [label]="categorie.label">


        <div fxLayout="row wrap" >
              
                            <mat-card  fxFlex="100%" *ngFor="let course of getCoursesByCategorie(categorie.key)"class="cardListItem example-card">
                                    <mat-card-header>
                                            <div mat-card-avatar class="example-header-image"></div>
                                            <mat-card-title>{{course.title}}</mat-card-title>
                                    </mat-card-header>
                                    <br>
                                    <br>
                                    <div >
                                        <img mat-card-image class="img" [src]="course.urlImage">
                                    </div>
                                    



                                    <mat-card-content>
                                            <p class="description">
                                                    {{course.description }}
                                            </p>
                                    </mat-card-content>

                                      <span fxLayoutAlign="center center"  class="price">{{course.price | currency}}</span>
                                    <mat-card-actions fxLayout="row" fxLayoutAlign="center center" >
                                            <button fxFlex mat-flat-button color="primary" (click)="AddToCart(course)" *ngIf="!existCourseInShoppingCart(course.key) && !ExistCoursesById(course.key)">Add Course</button>
                                            <button fxFlex mat-flat-button color="accent" *ngIf="ExistCoursesById(course.key)" (click)="AccessCourse(course.key) ">Access Course</button>
                                            <button fxFlex mat-flat-button color="warn" *ngIf="existCourseInShoppingCart(course.key)  && !ExistCoursesById(course.key)" (click)="DeleteToCart(course) ">Delete Course</button>
                                    </mat-card-actions>
                                    
                            </mat-card>

                            </div>
                      
    </mat-tab>

</mat-tab-group>